<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h1>MOVIE RECOMMENDER!</h1>
        <!--says sending form somewhere-->
        <form method= "Post" action = "/results">
          <!-- yes/no = key of dictionary results from form-->
          <p>Pick your top 10 movies</p>
<label class="container">The Incredibles
  <input type="checkbox" name = "The Incredibles">
  <span class="checkmark"></span>
</label>

<label class="container">Ratatouille
  <input type="checkbox" name = "Ratatouille">
  <span class="checkmark"></span>
</label>

<label class="container">Wreck-It Ralph
  <input type="checkbox" name = "Wreck-It Ralph">
  <span class="checkmark"></span>
</label>

<label class="container">Coraline
  <input type="checkbox" name = "Coraline">
  <span class="checkmark"></span>
</label>
<label class="container">Tangled
  <input type="checkbox" name = "Tangled">
  <span class="checkmark"></span>
</label>

<label class="container">Mulan
  <input type="checkbox" name = "Mulan">
  <span class="checkmark"></span>
</label>

<label class="container">The Notebook
  <input type="checkbox" name = "The Notebook">
  <span class="checkmark"></span>
</label>

<label class="container">Mean Girls
  <input type="checkbox" name = "Mean Girls">
  <span class="checkmark"></span>
</label>
<label class="container">The Proposal
  <input type="checkbox" name = "The Proposal">
  <span class="checkmark"></span>
</label>

<label class="container">She's the Man
  <input type="checkbox" name = "She's the Man">
  <span class="checkmark"></span>
</label>

<label class="container">Miss Congeniality
  <input type="checkbox" name = "Miss Congeniality">
  <span class="checkmark"></span>
</label>

<label class="container">It
  <input type="checkbox" name = "It">
  <span class="checkmark"></span>
</label>
<label class="container">Annabelle Comes Home
  <input type="checkbox" name = "Annabelle Comes Home">
  <span class="checkmark"></span>
</label>

<label class="container">Psycho
  <input type="checkbox" name = "Psycho">
  <span class="checkmark"></span>
</label>

<label class="container">The Ring
  <input type="checkbox" name = "The Ring">
  <span class="checkmark"></span>
</label>

<label class="container">Gone Girl
  <input type="checkbox" name = "Gone Girl">
  <span class="checkmark"></span>
</label>
<label class="container">Murder on the Orient Express
  <input type="checkbox" name = "Murder on the Orient Express">
  <span class="checkmark"></span>
</label>

<label class="container">The Da Vinci Code
  <input type="checkbox" name = "The Da Vinci Code">
  <span class="checkmark"></span>
</label>

<label class="container">Arrival
  <input type="checkbox" name = "Arrival">
  <span class="checkmark"></span>
</label>

          <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
